*{
	margin:10px;
}
#qid{
	width:5%;
	}
#ques{
	width: 60%;

}
*>input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 15%;
}
	
